<h1> Hi <%= @user.name %>! </h1>

<p> You have a new message from <%= @admin.name %>! </p>

<p> Check it out: <%= @link %> </p>

<p>You can email me personally if you have any questions insh'Allah at nader@shiame.com. </p>

<p>JazakAllah Khair, <br />
Nader Carun <br />
CEO & Founder of shiaME</p>