<div style="width:600px;border:1px solid #D0D0D0;background-color:#FCFCFC;padding:20px;color:#333">


<img style="width:125px;height:125;margin:0px 0px 0px 250px" src="http://www.shiame.com/assets/logonew1-935cb85b8f261b16d570e6e64516afd8.png">


<h1> Welcome, <%= @user.name %>! </h1>

<p> How to get started:</p> 
<p>1. <strong>Answer Profile Questions. </strong> If we don't know anything about you, we cannot match you.  </p>
<p>2. <strong>Upload a Photo </strong>. We match people by their personality and looks.Your match(es) will need to know what you look like.
<p>3. <strong>Message your MatchMaker </strong> The point of this site is for you to build a connection with your MatchMaker so they can find you the best match insh'Allah.</p> 

<p> To begin, login here: <%= link_to("Sign In", @signin) %> </p>

<p>You can email our team if you have any questions insh'Allah at webmaster@shiame.com. </p>

<p>JazakAllah Khair, <br />
Nader Carun <br />
CEO & Founder of shiaME</p>

</div>