<h1> Welcome to shiaME <%= @user.name %> </h1>

<p> How to get started:</p> 
<p>1. <strong>Answer Profile Questions. </strong> If we don't know anything about you, we cannot match you.  </p>
<p>2. <strong>Upload a Photo </strong>. We match people by their personality and looks.Your match(es) will need to know what you look like.
<p>3. Message your matchmaker if you any questions while they find you the best match insh'Allah.</p> 

<p> To begin, login here: <%= link_to("Sign In", @signin) %> </p>

<p>You can email me personally if you have any questions insh'Allah at nader@shiame.com. </p>

<p>JazakAllah Khair, 
Nader 
CEO & Founder of shiaME</p>