<h1> Welcome to shiaME <%= @user.name %> </h1>

<p> How to get started:</p> <br />
<p>1. Answer Profile Questions - If we don't know anything about you we cannot match you. </p>
<p>2. Upload a Photo - This is very important. We match people by their personality and their physical looks. Also, your partner will not want anything to do with you if they cannot see what you look like. 
<p>3. Message your matchmaker if you have any questions while they find you the best match insh'Allah.</p> 

<br />

<p> To begin, login here: <%= link_to("Sign In", @signin) %> </p>