	<ul class="admin_nav_bar">
		<li> 
		 <%= link_to "Profile", current_admin %>
		</li>
		<li> 
		 <%= link_to "Settings", edit_admin_path(current_admin) %>
		</li>
		<li> 
		 <%= link_to "Change Picture", pics_admin_path(current_admin) %>
		</li>
		<li> 
		 <%= link_to "Log Out", logout_path, method: "delete" %> 
		</li>
	</ul>