<% if @user.errors.any? %>
	
	<div class="error_messages">
		<div class="error_count">
			This Form Contains <%= pluralize(@user.errors.count, "error") %>. 
		</div>

		<ul class="error_msg"> 
			<% @user.errors.full_messages.each do |msg| %>
				<li>* <%= msg %> </li>
			<% end %>	
		</ul>
	</div>
	
<% end %>