	<div class="user_all_bar">
		<div class="container">
				
			<%= link_to signout_path, method: "delete" do %>
				<div class="user_home_button"> 
	 				 Sign Out
				</div>
			<% end %>
	
	
				<%= link_to edit_user_path(@user) do %>
					<div class="user_home_button">
							Settings
					</div>
				<% end %>
		
			
		<%= link_to @user do %>
			<div class="user_home_button">
				<p> Home </p>
			</div>
		<% end %>
	
		</div>
	</div>
	