<div class="home_bar">
	<div class="container">
	 <%= link_to login_path do %>	
		<div class="home_log_in">
			MatchMakers
		</div>
	<% end %>	
	 <%= link_to signin_path do %>	
		<div class="home_sign_in">
			Users
		</div>
	<% end %>
	</div>
</div>