<% provide(:title, "About") %>


<div class="container">
	<div class="about_wrapper">
		<div class="about_header_box">
		
		<div class="about_header_title">
			<h1>Professional MatchMaking</h1>
			<p> Let us find your marriage partner for you. <br /><br /> 
			</p>
	 	</div>

		<div class="about_header_screenshot">
			<div class="screen_match_box">
				<%= image_tag("folder.png", :class=> "screen_folder") %>
				<div class="screen_match_user">
					<div class="screen_user_image">
						<%= image_tag("userscreen.png") %>
					</div>
					<div class="screen_user_image">
						<%= image_tag("userlogo.png") %>
					</div>
					
					<div class="screen_make_match">
						<p>View Match</p>
					</div>

					<div class="screen_end_match">
						<p>End Match</p>
					</div>
					
				</div>	
			</div>
		</div>


		</div>
	</div>
</div>