<% provide(:title, "About") %>


<div class="container">
	<div class="about_wrapper">
		<div class="about_header_box">
		
		<div class="about_header_title">
			<h1>Professional MatchMaking</h1>
			<p> Let us find your marriage partner for you. <br /><br /> 
			</p>
	 	</div>

		<div class="about_header_screenshot">
			</div>
		</div>


		</div>
	</div>
</div>