<div class="container">
	
	<h1></h1>
	
	<div class="home_logo">
		<%= image_tag("logo.png") %>
	</div>
		<div class="invite_code">
			<%= form_tag about_path, :method => :get do %>
			    <%= text_field_tag "", "", :class => "invite_code_field" %>
			    <%= submit_tag "EMAIL", :class => "invite_code_button"  %>
			<% end %>
		</div>
	</div>


</div>