
<div class="container">

	<div class="home_logo">
		<%= image_tag("logonew1.png", :alt => "shiaME Home Page", :class => "home_logo_new") %>

	<div class="invite_code">
		<h1 class="home_tagline"> a matchmaking service </h1>
		<p>Enter Your Invite Code</p>
		<%= form_tag new_user_url, :method => :get  do %>
		    <%= text_field_tag :code, params[:code], :class => "invite_code_field" %>
		    <%= submit_tag "ENTER", :class => "invite_code_button"  %>
		<% end %>
	</div>

</div>
	


</div>
