<% provide(:title, "About") %>


<div class="about_header">
	
		<%= link_to root_path do %>
	<div class="about_logo">
		<%= image_tag("logotinynew.png") %>	
	</div>
		<% end %>
</div>

<div class="container">
	<div class="about_wrapper">
	
			<div class="about_header_title">
						<h1>Your Browser is Old. You Must Upgrade.</h1>
			</div>


	</div>
</div>