
<div style="width:600px;border:1px solid #D0D0D0;background-color:#FCFCFC;padding:20px;color:#333">


<img style="width:125px;height:125;margin:0px 0px 0px 250px" src="http://www.shiame.com/assets/logonew1-935cb85b8f261b16d570e6e64516afd8.png">


<h1> Assalamu Alaykum, </h1>

<p> You have been invited to join www.shiaME.com!
</p>

<p>
shiaME is a <strong>private, invite-only, </strong> MatchMaking service for Shia Muslims.	
</p>

<p>
Because you have already been using Saba Matrimonial, we are offering you a Free Membership with shiaME, considering that some of Saba Matrimonial's MatchMakers are making the switch to the shiaME system. 
<p>

<p style="font-size:24px;width:400px;text-align:center;padding:10px;background-color:#3F9AF5;color:white;font-weight:bold;"><strong>Invite Code:</strong> freeshiauser </p>

<p> Enter Invite Code Here: <%= link_to("shiaME", @home) %> </p>

<p> If you are not interested, please delete this email and do not share the code with others
	as this is an invite-only website. This code will expire in one month insh'Allah. </p>

<p>JazakAllah Khair, <br />
shiaME Team
</p>

</div>