<% provide(:title, "All Subscribers") %>


<div class="about_header">
	
		<%= link_to root_path do %>
			<div class="about_logo">
				<%= image_tag("logotiny.png") %>	
			</div>
		<% end %>
		
</div>

<div class="container">
	
	<div class="subscribers_wrapper">
		
		<% @subscribers.each do |subscriber| %>
		<p><%= subscriber.email %></p>
		<% end %>
	</div>
</div>