<% provide(:title, "Thank You") %>


<div class="about_header">
	
		<%= link_to root_path do %>
			<div class="about_logo">
				<%= image_tag("logotinynew.png") %>	
			</div>
		<% end %>
		
</div>

<div class="container">
	
	<div class="thankyou_wrapper">
		<h1>Thank You</h1>
		<p>We will inform you when we launch and how you can
			 get an invite code, insh'Allah. </p>
		
	</div>
</div>