<div class="container">

  <div class="password_reset_home">
	<%= image_tag("logonew1.png", :alt => "shiaME Home Page", :class => "home_logo_new") %>    
    <div class="invite_code">
      <h1 class="home_tagline"> PASSWORD RESET</h1>
      <p> We have sent you an email with a link to reset your password <br/><br/>
      Email us to let us know what went wrong: nader@shiame.com
      </p>      
    </div>
    	<%= link_to root_path do %>	
		<div class="login_to_home">
		<p>Home</p>
		</div>
	<% end %>
  </div>
</div>