/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.admin_container {
		display:block;
		min-width: 800px;
		max-width: 1024px;
		height:10px;
		background-color:red;
		margin: 0px auto;
		width:expression(document.body.clientWidth < 782? "780px" : document.body.clientWidth > 1262? "1260px" : "auto");
}

.admin_header {
		width:100%;
		float:left;
		text-align:center;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:40px;
		margin:10px 0px 0px 0px;
}

.admin_box {
		float:left;
		width:900px;
}


.admin_show {
	float:left;
	width:50%;
}

.admin_nav_bar {
		float:right;
		margin:30px 20px 0px 0px;
		font-family:"Helvetica";
		font-size:14px;
		list-style:none;
		display:inline;
}

.admin_nav_bar li {
		display:inline;
		padding:10px;
}

.admin_nav_bar li:hover { 
	text-decoration:underline;
}

.admin_signup_box {
		float:left;
		width:600px;
		height:1000px;
		margin:0px 0px 0px 200px;
}

.admin_signup {
		float:left;
		width:100%;
		font-family:"Helvetica";
		font-weight:bold;
		margin:10px 0px 0px 5px;
}

.admin_signup_field {
		float:left;
		width:100%;
		height:30px;
		margin:10px 0px 10px 0px;
		font-size:16px;
		color:DimGray;
		font-family:"Helvetica";
}

.admin_signup_textarea {
		float:left;
		width:100%;
		height:400px;
		margin:10px 0px 10px 0px;
		font-size:16px;
		color:DimGray;
		font-family:"Helvetica";
}

.admin_create {
		float:left;
		width:100px;
		height:60px;
		border:1px solid #D0D0D0;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:14px;
		margin:0px 0px 0px 0px;
		color:White;
		background-color:#336CC1;
		background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
		background: -moz-linear-gradient(top, #336CC1,  #0047B2);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;		
}

.admin_create:hover {
		border:1px solid DimGray;
		background-color: #0047B2;
		background: -webkit-gradient(linear, left top, left bottom, from(#0047B2), to(#003380));
		background: -moz-linear-gradient(top, #0047B2,  #003380);
}

.login_to_home {
		clear:left;
		float:left;
		width:100px;
		height:30px;
		border:1px solid WhiteSmoke;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:14px;
		padding:10px 0px 0px 0px;
		margin:5px 0px 0px 0px;
		color:White;
		text-align:center;
		background-color:#FF8484;
		background: -webkit-gradient(linear, left top, left bottom, from(#FF8484), to(#FF5050));
		background: -moz-linear-gradient(top, #FF8484,  #FF5050);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;		
}

.login_to_home:hover {
		border:1px solid #D0D0D0;
		background-color:#FF5050;
		background: -webkit-gradient(linear, left top, left bottom, from(#FF5050), to(#CC4040));
		background: -moz-linear-gradient(top, #FF5050,  #CC4040);
}


.error_messages {
	float:left;
	width:100%;
	font-family:"Helvetica";
}

.error_count {
		float:left;
		width:100%;
		font-weight:bold;
		background-color:#FF8080;
		border:1px solid #f00;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding:10px;
}

.error_msg {
		float:left;
		list-style:none;
		margin:10px 0px 0px 10px;
		color:#f00;
}

.home_button {
		float:right;
		height:30px;
		border-left:1px solid DimGray;
		font-family:"Helvetica";
		font-weight:bold;
		color:white;
		text-align:center;
		padding:10px 30px 0px 20px;
		background-color:#313131;
		background: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#272727));
		background: -moz-linear-gradient(top, #313131,  #272727);
}

.home_button:hover {
	background-color:#464646;
	background: -webkit-gradient(linear, left top, left bottom, from(#464646), to(#464646));
	background: -moz-linear-gradient(top, #464646,  #464646);
}


.matches_button {
		float:left;
		width:300px;
		height:30px;
		border-right:1px solid DimGray;
		font-family:"Helvetica";
		font-weight:bold;
		color:white;
		text-align:center;
		padding:10px 0px 0px 0px;
		background-color:#313131;
		background: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#272727));
		background: -moz-linear-gradient(top, #313131,  #272727);
		text-shadow: 0px 0px 0px, -1px -1px #000;
}


.admin_sidebar {
		clear:left;
		float:left;
		width:300px;
		height:1400px;
		margin:0px 0px 0px 0px;
		background-color:White;
		border-left:1px solid #D0D0D0;
		border-right:1px solid #D0D0D0;
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.admin_sidebar_list {
		float:left;
		list-style-type:none;
		font-weight:bold;
		font-family:"Helvetica";
		width:298px;
}

.admin_sidebar_list li {
		float:left;
		border:1px solid #D0D0D0;
		padding:5px;		
		width:285px;
}

.admin_sidebar_list li:hover {
		background-color:WhiteSmoke;
}

.admin_sidebar_pics {
		float:left;
		width:50px;
		height:50px;
}

.admin_sidebar_name {
		float:left;
		margin:15px 0px 0px 30px;
}

.admin_profile_box {
		float:left;
		width:900px;
		height:250px;
		margin:30px 0px 0px 20px;
		border:1px solid #D0D0D0;
		background-color:#F6F6F6;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
			box-shadow: 0 4px 4px -2px #B8B8B8;
}

.admin_show_header {
		float:left;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:30px;
		width:550px;
		text-align:left;
		margin:40px 0px 0px 20px;
}

.admin_show_bio	{
	float:left;
	width:550px;
	font-size:14px;
	color:DimGray;
	padding:20px;
}

.admin_show_location {
		float:left;
		color:DimGray;
		width:550px;
		padding:5px 20px 10px 25px;
		font-weight:bold;
}

.admin_show_img {
		clear:right;
		float:right;
		width:200px;
		height:200px;
		margin:20px 40px 0px 0px;
		border:1px solid #D0D0D0;
		padding:10px;
}

.admin_all_users {
		float:left;
		width:150px;
		height:30px;
		border-right:1px solid DimGray;
		font-family:"Helvetica";
		font-weight:bold;
		color:white;
		text-align:center;
		padding:10px 0px 0px 0px;
		background-color:#313131;
		background: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#272727));
		background: -moz-linear-gradient(top, #313131,  #272727);
		text-shadow: 0px 0px 0px, -1px -1px #000;
}

.admin_all_users:hover {
	background-color:#464646;
	background: -webkit-gradient(linear, left top, left bottom, from(#464646), to(#464646));
	background: -moz-linear-gradient(top, #464646,  #464646);
}

.admin_go_home {
	float:left;
	padding:20px 100px 20px 100px;
	margin:30px 0px 0px 350px;
	border:1px solid #D0D0D0;
	background-color:White;
	font-family:"Helvetica";
	text-align:center;
	font-weight:bold;
	color:#333;
	background-color:#FFD1D1;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFD1D1), to(#E6B8B8));
    background: -moz-linear-gradient(top, #FFD1D1,  #E6B8B8);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
				box-shadow: 0 4px 4px -2px #B8B8B8;
}

.admin_go_home:hover {
		border:1px solid #D8D8D8;
}

.admin_old_pic {
		float:left;
		width:250px;
		height:250px;
		border: 1px solid DimGray;
		padding:5px;
		margin:0px 0px 0px 200px;
}

.admin_change_pic {
		float:left;
		margin:10px 0px 20px 250px;
		width:100%;
}

.admin_image_limits {
		float:left;
		width:100%;
		margin:20px;
		padding:20px;
		border:1px solid DimGray;
		background-color:WhiteSmoke;
		font-family:"Helvetica";
		font-weight:bold;
		text-align:center;
}

.user_go_home {
	float:left;
	padding:20px 100px 20px 100px;
	margin:30px 0px 0px 150px;
	border:1px solid #D0D0D0;
	background-color:White;
	font-family:"Helvetica";
	text-align:center;
	font-weight:bold;
	color:#333;
	background-color:#FFD1D1;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFD1D1), to(#E6B8B8));
    background: -moz-linear-gradient(top, #FFD1D1,  #E6B8B8);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
				box-shadow: 0 4px 4px -2px #B8B8B8;
}

.user_go_home:hover {
		border:1px solid DimGray;
}

.msg_go_home {
	float:left;
	padding:20px 80px 20px 80px;
	margin:30px 0px 0px 50px;
	border:1px solid #D0D0D0;
	background-color:White;
	font-family:"Helvetica";
	text-align:center;
	font-weight:bold;
	color:#333;
	background-color:#FFD1D1;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFD1D1), to(#E6B8B8));
    background: -moz-linear-gradient(top, #FFD1D1,  #E6B8B8);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
				box-shadow: 0 4px 4px -2px #B8B8B8;
}

.msg_go_home:hover {
		border:1px solid DimGray;
}

						/* ALL MEN */
										
.admin_all_men_box {
		float:left;
		width:100%;
		font-family:"Helvetica";
		margin:20px 0px 0px 20px;
}

.admin_each_men {
		float:left;
		width:125px;
		height:200px;
}

.admin_each_men img {
		float:left;
		border:1px solid #D0D0D0;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
}

.admin_each_men_info {
		clear:left;
		float:left;
		margin:10px 0px 0px 10px;
}

					/* ASSIGN MatchMaker to User */

.admin_assign_mm {
		float:left;
		padding:10px;
}

.admin_assign_button {
		float:left;
		width:100px;
		height:60px;
		border:1px solid #D0D0D0;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:14px;
		margin:30px 0px 0px 0px;
		color:White;
		background-color:#336CC1;
		background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
		background: -moz-linear-gradient(top, #336CC1,  #0047B2);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
}

.admin_assign_button:hover {
		border:1px solid DimGray;
		background-color: #0047B2;
		background: -webkit-gradient(linear, left top, left bottom, from(#0047B2), to(#003380));
		background: -moz-linear-gradient(top, #0047B2,  #003380);
}

.admin_assign_label {
		float:left;
		font-family:"Helvetica";
		font-weight:bold;
		color:DimGray;
		padding:10px;
		width:150px;
		font-size:20px;
}

.admin_assign_dropdown {
		float:right;
		margin:0px 0px 0px 10px;
		-webkit-appearance: button;
	  -webkit-border-radius: 2px;
	  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	  -webkit-padding-end: 20px;
	  -webkit-padding-start: 2px;
	  -webkit-user-select: none;
	  background-image: url(arrow2.png);
	    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	  background-position: center right;
	  background-repeat: no-repeat;
	  border: 1px solid #AAA;
	  color: #555;
	  font-size: inherit;
	  margin: 0;
	  overflow: hidden;
	  padding-top: 2px;
	  padding-bottom: 2px;
	  text-overflow: ellipsis;
	  white-space: nowrap;
}

						/* CREATE MATCH */

.admin_create_match_list {
		float:left;
		margin:20px 0px 0px 100px;
		width:200px;
}	

.admin_create_match_dropdown {
	float:left;
	margin:0px 0px 0px 20px;
	-webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(arrow2.png);
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
	width:200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}				

						/* All Matches Check Matches.css */

.admin_match_box {
		float:left;
		width:100%;
		font-family:"Helvetica";
		margin:20px 0px 0px 20px;
}										

.admin_each_match {
		float:left;
		padding:10px;
		border:1px solid #D0D0D0;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
}		

.admin_each_match:hover {
		background-color:#FDFDFD;
}

.admin_each_match img {
		float:left;
		width:50px;
		height:50px;
		border:1px solid #D0D0D0;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
}

.admin_match_date {
		font-weight:bold;
		color:#333;
}										

					
						/* Admins MSGS */

.admin_msg_box {
	float:left;
	width:700px;
	border:1px solid DimGray;
	margin:10px;
}	

.admin_msg_each {
	float:left;
	width:698px;
	height:70px;
	border:1px solid #D0D0D0;
	background-color:WhiteSmoke;
	color:#333;
	font-family:"Helvetica";
}

.admin_msg_each:hover {
	background-color:white;
}

.admin_msg_each_msg {
	float:left;
	margin:10px 0px 0px 0px;
	width:500px;
	height:40px;
	background-color:none;
}

.admin_msg_each_time {
	float:right;
	heigh:15px;
	font-size:12px;
	color:#333;
	background-color:none;
	width:200px;
	margin:0px;	
	text-align:center;
}

