/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.message_left_column {
	float:left;
	width:300px;
}

.message_right_column {
	float:left;
	width:510px;
	margin:0px 0px 0px 40px
}

.all_message_header {
	float:left;
	font-family:"Helvetica";
	font-weight:bold;
	font-size:35px;
	width:480px;
	text-align:center;
	color:#333;
	background-color:white;
	height:40px;
	padding:10px;
	border:1px solid #D0D0D0;
	-moz-border-radius:  10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	background-color:#E6B8B8;
	background: -webkit-gradient(linear, left top, left bottom, from(#E6B8B8), to(#FFD1D1));
	background: -moz-linear-gradient(top, #E6B8B8,  #FFD1D1);	
}

.messages_header {
	float:left;
	font-family:"Helvetica";
	font-weight:bold;
	font-size:25px;
	text-align:center;
	width:100%;
	margin:20px 0px 0px 0px;
}

.message_show_image {
	float:left;
	clear:left;
	width:225px;
	height:225px;
	border:1px solid #D0D0D0;
	background-color:WhiteSmoke;
	padding:10px;
	margin:20px 10px 10px 20px;	
}

.all_messages_box {
	float:right;
	width:500px;
	margin:20px 0px 0px 50px;
	border:1px solid #D0D0D0;
	background-color:#FDFDFD;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:0px 0px 10px 0px;
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
	            box-shadow: 0 4px 4px -1px #B8B8B8;
}

.message_home_list {
	clear:left;
	float:left;
	margin:30px 0px 0px 20px;
	width:250px;
	list-style-type:none;
	background-color:none;
	font-family:"Helvetica Neue";
	font-size:14px;
	color:#297ACC;
	font-weight:bold;
}

.message_home_list li {
	border:1px solid #D0D0D0;
	height:25px;
	padding:10px;
}

.message_home_list li:hover {
		background-color:#FAFAFA;
}

.home_list_logo {
	float:left;
	width:50px;
	height:50px;
	border:1px solid #D0D0D0;
} 

.view_your_profile_box {
	float:left;
	width:250px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color:#FDFDFD;
	text-align:center;
	border:1px solid #D0D0D0;
		-webkit-box-shadow: 0 2px 2px -2px #B8B8B8;
		   -moz-box-shadow: 0 2px 2px -2px #B8B8B8;
		            box-shadow: 0 2px 4px -2px #B8B8B8;	
}

.view_your_profile_box:hover {
	background-color:#F4F4F4;	
}

.view_profile_text {
	margin:20px 0px 0px 0px;
	color:#333;
}

.inbox_box {
	float:left;
	width:250px;
	padding:0px 0px 0px 0px;
	margin:5px 0px 0px 0px;
	background-color:#FDFDFD;
	text-align:center;
	border:1px solid #D0D0D0;
		-webkit-box-shadow: 0 2px 2px -2px #B8B8B8;
		   -moz-box-shadow: 0 2px 2px -2px #B8B8B8;
		            box-shadow: 0 2px 4px -2px #B8B8B8;		
}

.inbox_box:hover {
	background-color:#F4F4F4;	
}

.message_show_mm_box {
		clear:left;
		float:left;
		width:200px;
		height:80px;
		margin:5px 10px 0px 20px;
		border:1px solid #D0D0D0;
		background-color:#FDFDFD;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		padding:5px 20px 5px 20px;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.message_show_mm_box:hover {
		-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
		            box-shadow: 0 4px 4px -1px #B8B8B8;
}

.message_mm_pic {
		float:left;
		width:75px;
		height:75px;
		border:1px solid none;
		margin:0px 10px 0px 0px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;		
}

.message_mm_title {
		float:left;
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
		font-family:"Helvetica";
		color:#333;
		width:100px;
		text-align:center;
}

.message_mm_title_bold {
	float:left;
	margin:0px 0px 0px 0px;
	padding:10px 0px 0px 0px;
	font-family:"Helvetica";
	color:#333;
	width:100px;
	text-align:center;
	font-weight:bold;
}

.message_match_box {
	clear:left;
	float:left;
	width:200px;
	height:80px;
	margin:5px 10px 0px 20px;
	border:1px solid #D0D0D0;
	background-color:#FDFDFD;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:5px 20px 5px 20px;
	-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
	            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.message_match_box:hover {
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
	            box-shadow: 0 4px 4px -1px #B8B8B8;
}

.message_match_box img {
	float:left;
	width:75px;
	height:75px;
	border:1px solid none;
	margin:0px 10px 20px 0px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.message_match_box_name {
		float:left;
		font-family:"Helvetica";
		font-size:14px;
		letter-spacing:0px;
		color:#333;
		margin:25px 0px 0px 0px;
		width:100px;
}

					/* NEW MESSAGE */ 

.new_msg_box {	
	float:right;
	width:500px;
	height:350px;
	margin:5px 0px 0px 50px;
	border:1px solid #D0D0D0;
	background-color:#FDFDFD;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:20px 0px 0px 10px;
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
	            box-shadow: 0 4px 4px -1px #B8B8B8;
}
					
.new_msg_match_show {
	float:right;
	width:500px;
	height:100px;
	border:1px solid #D0D0D0;
	background-color:WhiteSmoke;
	margin:20px 5px 5px 5px;
}

.new_msg_match_show_img {
	float:left;
	width:75px;
	height:75px;
	border:1px solid #D0D0D0;
	margin:10px;	
}

.new_msg_match_name {
	float:left;
	font-family:"Helvetica";
	font-weight:bold;
	font-size:14px;
	text-align:center;
	margin:10px;
}

.new_msg_label {
	clear:both;
	float:left;
	font-size:16px;
	font-family:"Helvetica";
	font-weight:bold;
	color:#333;
	margin:10px; 
	width:100%;
}

.new_msg_textarea {
	float:left;
	width:460px;
	height:200px;
	margin:10px;
	border:1px solid #D0D0D0;
	font-family:"Helvetica";
	padding:5px;
	font-size:14px;
	color:#333;
}

.new_msg_submit {
	float:right;
	margin:0px 10px 0px 0px;
	width:120px;
	height:60px;
	border:1px solid #D0D0D0;
	font-family:"Helvetica";
	font-weight:bold;
	font-size:14px;
	color:White;
	background-color:#336CC1;
	background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
	background: -moz-linear-gradient(top, #336CC1,  #0047B2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;			
}

.new_msg_submit:hover {
	border:1px solid #D0D0D0;
	background-color:#FF5050;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF5050), to(#CC4040));
	background: -moz-linear-gradient(top, #FF5050,  #CC4040);
}

	/* ALL MESSAGES */
	
.each_message {
	float:left;
	width:499px;
	height:100px;
	background-color:WhiteSmoke;
	border:1px solid #D0D0D0;
}

.each_message:hover {
	border:1px solid #B0B0B0;
	background-color:#F1F1F1;
}

.each_message_msg {
	font-family:"Helvetica";
	font-size:14px;
}

.all_msg_photo {
	float:left;
	width:75px;
	height:75px;
	border:1px solid #D0D0D0;
	margin:10px;
}

.all_msg_message {
	float:left;
	width:300px;
	height:60px;
	color:#333;
	margin:15px 0px 0px 0px;
}

.all_msg_message_time {
	float:right;
	font-size:12px;
	color:#333;
	margin:0px 0px 0px 0px;
	width:150px;
	height:15px;
}

.new_msg_link {
	float:right;
	margin:20px 10px 0px 0px;
	width:120px;
	padding:20px 0px 20px 0px;
	border:1px solid #D0D0D0;
	font-family:"Helvetica";
	font-weight:bold;
	font-size:14px;
	color:White;
	text-align:center;
	background-color:#336CC1;
	background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
	background: -moz-linear-gradient(top, #336CC1,  #0047B2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;			
}

.new_msg_link:hover {
	border:1px solid #D0D0D0;
	background-color:#FF5050;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF5050), to(#CC4040));
	background: -moz-linear-gradient(top, #FF5050,  #CC4040);
}

.mm_msg_photo {
	float:left;
	width:50px;
	height:50px;
	border:1px solid #D0D0D0;
	margin:10px 0px 0px 10px;
}

.mm_user_msg_photo {
	float:left;
	width:50px;
	height:50px;
	border:1px solid #D0D0D0;
	margin:10px 10px 0px 0px;
}

.match_msg_delete {
	float:left;
	width:500px;
	margin:20px 0px 0px 10px;
	padding:20px 0px 20px 0px;
	text-align:center;
	border:1px solid #D0D0D0;
	background-color:#FFFFDB;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFDB), to(#FFFFCC));
	background: -moz-linear-gradient(top, #FFFFDB,  #FFFFCC);
	color:#333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}


			/* MESSAGE SHOW */

.message_show_box {
	float:right;
	width:500px;
	margin:20px 0px 0px 50px;
	border:1px solid #D0D0D0;
	background-color:#FDFDFD;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:20px 0px 20px 10px;
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
	            box-shadow: 0 4px 4px -1px #B8B8B8;
}

.message_show_user_pic {
	float:left;
	width:75px;
	height:75px;
	border:1px solid #D0D0D0;
	margin:10px;	
}

.message_show_user_info {
	float:left;
	width:320px;
	height:75px;
	margin:10px;
	background-color:none;
}

.message_show_msg {
	float:left;
	width:450px;
	padding:5px;
	margin:10px;
}
