/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.pick_mm_mmsg {
	float:left;
	width:500px;
	height:50px;
	margin:10px 0px 0px 50px;
	border:1px solid #D0D0D0;
}

.new_mmsg_box {	
	float:left;
	width:700px;
	height:350px;
	margin:15px 0px 0px 5px;
	border:1px solid #D0D0D0;
	background-color:#FDFDFD;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:20px 0px 0px 10px;
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
	            box-shadow: 0 4px 4px -1px #B8B8B8;
}

#mmsg_receiver_id {
		float:left;
		margin:10px 0px 5px 30px;
		width:500px;
		height:40px;
		-webkit-appearance: button;
	  -webkit-border-radius: 2px;
	  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	  -webkit-padding-end: 20px;
	  -webkit-padding-start: 2px;
	  -webkit-user-select: none;
	  background-image: url(arrow2.png);
	    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	  background-position: center right;
	  background-repeat: no-repeat;
	  border: 1px solid #AAA;
	  color: #555;
	  font-size: inherit;
	  overflow: hidden;
	  padding-top: 2px;
	  padding-bottom: 2px;
	  text-overflow: ellipsis;
	  white-space: nowrap;
}
					
.new_mmsg_match_show {
	float:right;
	width:500px;
	height:100px;
	border:1px solid #D0D0D0;
	background-color:WhiteSmoke;
	margin:20px 5px 5px 5px;
}

.new_mmsg_match_show_img {
	float:left;
	width:75px;
	height:75px;
	border:1px solid #D0D0D0;
	margin:10px;	
}

.new_mmsg_match_name {
	float:left;
	font-family:"Helvetica";
	font-weight:bold;
	font-size:14px;
	text-align:center;
	margin:10px;
}

.new_mmsg_label {
	clear:both;
	float:left;
	font-size:16px;
	font-family:"Helvetica";
	font-weight:bold;
	color:#333;
	margin:10px; 
	width:100%;
}

.new_mmsg_textarea {
	float:left;
	width:660px;
	height:200px;
	margin:10px;
	border:1px solid #D0D0D0;
	font-family:"Helvetica";
	padding:5px;
	font-size:14px;
	color:#333;
}

.new_mmsg_submit {
	float:right;
	margin:0px 10px 0px 0px;
	width:120px;
	height:60px;
	border:1px solid #D0D0D0;
	font-family:"Helvetica";
	font-weight:bold;
	font-size:14px;
	color:White;
	background-color:#336CC1;
	background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
	background: -moz-linear-gradient(top, #336CC1,  #0047B2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;			
}

.new_mmsg_submit:hover {
	border:1px solid #D0D0D0;
	background-color:#FF5050;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF5050), to(#CC4040));
	background: -moz-linear-gradient(top, #FF5050,  #CC4040);
}


/* MMSGS INDEX */

.mmsgs_new_header {
	float:left;
	margin:30px 10px 0px 40px;
	width:650px;
	padding:20px 0px 20px 0px;
	text-align:center;
	font-family:"Helvetica";
	font-weight:bold;
	font-size:34px;
	color:#333;
	background-color:WhiteSmoke;	
}

.mmsgs_new_button_link {
	float:left;
	margin:30px 10px 0px 40px;
	width:650px;
	padding:20px 0px 20px 0px;
	text-align:center;
	font-family:"Helvetica";
	font-weight:bold;
	font-size:24px;
	color:White;
	border:1px solid #D0D0D0;
	background-color:WhiteSmoke;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#5CADFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#5CADFF), to(#2E8AE6));
	background: -moz-linear-gradient(top, #5CADFF,  #2E8AE6);	
}

.mmsgs_new_button_link:hover {
		border:1px solid none;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;	
}

.mmsgs_new_small {
	float:left;
	margin:30px 10px 0px 120px;
	width:250px;
	padding:20px 0px 20px 0px;
	text-align:center;
	font-family:"Helvetica";
	font-weight:bold;
	font-size:24px;
	color:White;
	border:1px solid #D0D0D0;
	background-color:WhiteSmoke;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#5CADFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#5CADFF), to(#2E8AE6));
	background: -moz-linear-gradient(top, #5CADFF,  #2E8AE6);	
}

.mmsgs_new_small:hover {
		border:1px solid none;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;	
}

.mmsgs_sent_small {
	float:left;
	margin:30px 10px 0px 20px;
	width:250px;
	padding:20px 0px 20px 0px;
	text-align:center;
	font-family:"Helvetica";
	font-weight:bold;
	font-size:24px;
	color:#333;
	border:1px solid #D0D0D0;
	background-color:WhiteSmoke;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#F4F4F4;
	background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#DBDBDB));
	background: -moz-linear-gradient(top, #F4F4F4,  #DBDBDB);
}

.mmsgs_sent_small:hover {
	border:1px solid DimGray;
	background-color:#DBDBDB;
	background: -webkit-gradient(linear, left top, left bottom, from(#DBDBDB), to(#F4F4F4));
	background: -moz-linear-gradient(top, #DBDBDB,  #F4F4F4);			
}



