/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

		/* HOME PAGE */


.home_logo {
		float:left;
		margin:50px 0px 0px 320px;
		z-index:2;
		width:300px;
		padding:10px;
}

.home_logo_new {
	margin:0px 0px 0px 30px;
}

.home_wrapper {
	height:800px;
}

.invite_code {
		float:left;
		margin:0px 0px 0px 0px;
		z-index:2;
		width:300px;
		color:DimGray;
}

.invite_code p {
	font-size:12px;
	text-align:center;
}

.invite_code_field {
		float:left;
		width:200px;
		font-family:"Helvetica";
		font-size:16px;
		color:DimGray;
		padding:11px 0px 11px 0px;
}

.invite_code_button {
		float:left;
		border:1px solid DimGray;
		width:90px;
		height:45px;
		background-color:#F4F4F4;
		background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#DBDBDB));
		background: -moz-linear-gradient(top, #F4F4F4,  #DBDBDB);
		font-family:"Helvetica";
		font-size:14px;
		color:blue;
}

.invite_code_button:hover {
	background-color:#DBDBDB;
	background: -webkit-gradient(linear, left top, left bottom, from(#DBDBDB), to(#F4F4F4));
	background: -moz-linear-gradient(top, #DBDBDB,  #F4F4F4);
}

.home_tagline {
		margin:0p 0px 20px 50px;
		font-family:"Helvetica";
		color:DimGray;
		letter-spacing:0px;
		font-size:20px;
		text-align:center;
}

.what_is_site {
		float:left;
		width:250px;
		height:50px;
		margin:50px 0px 0px 355px;
		border:1px solid DimGray;
		background-color:#0047B2;
		background: -webkit-gradient(linear, left top, left bottom, from(#0047B2), to(#003380));
		background: -moz-linear-gradient(top, #0047B2,  #003380);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
}

.what_is_site:hover {
		border:1px solid #333;
}

.what_is_site p {
		font-family:"Helvetica";
		font-weight:bold;
		font-size:18px;
		color:white;
		text-align:center;
		padding:15px 0px 0px 0px;
}


							/* ABOUT PAGE */


.about_header {
	position:absolute;
	width:100%;
	height:60px;
	opacity:1;
	background-color:white;
	z-index:2;
	background-color:#FFD1D1;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFD1D1), to(#E6B8B8));
	background: -moz-linear-gradient(top, #FFD1D1,  #E6B8B8);
	-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
	            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.about_logo {
	position:absolute;
	z-index:2;
	margin:0px 0px 0px 150px;
}

.about_wrapper {
		float:left;
		background-color:white;
		width:1024px;
		height:100%;
		border:1px solid #D0D0D0;
		z-index:1;
		margin:30px 0px 0px 0px;
		padding:50px 0px 0px 0px;
}

.about_header_title {
		float:left;
		height:100%;
		width:1000px;
		font-family:"Helvetica";
		color:#333;
		margin:0px 0px 0px 0px;
}

.about_header_title h1 {
		margin:0px 0px 0px 40px;
		padding:10px;
		font-weight:bold;
}


.about_header_title p {
		float:left;
		margin:60px 0px 0px 20px;
		padding:0px 0px 20px 20px;
		color:DimGray;
		font-size:18px;
		text-align:left;
		width:500px;
		padding:10px;
}


.about_image_matchmaker {
	float:left;
	width:125px;
	height:125px;
	padding:10px;
	margin:20px 0px 0px 200px;
	border:1px solid #D0D0D0;
	background-color:#F4F4F4;
	background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#DBDBDB));
	background: -moz-linear-gradient(top, #F4F4F4,  #DBDBDB);
	-webkit-box-shadow: 0 2px 4px -2px #000000;
	 -moz-box-shadow: 0 2px 4px -2px #000000;
	 box-shadow: 0 2px 4px -2px #000000;
}

.about_image_matchmaker:hover {
	-webkit-box-shadow: 2px 2px 2px #D0D0D0;
	 -moz-box-shadow: 2px 2px 2px #D0D0D0;
	 box-shadow: 2px 2px 2px #D0D0D0;
}

.about_match {
	display:block;
	float:left;
	margin:60px 0px 0px 200px;
	padding:0px 0px 20px 20px;
	color:DimGray;
	font-weight:bold;
	text-align:left;
	width:600px;
	padding:10px;
}

.about_match p {
		font-size:22px;
}

.about_image_privacy {
	float:left;
	width:125px;
	height:125px;
	padding:10px;
	margin:20px 0px 0px 75px;
	border:1px solid #D0D0D0;
	background-color:#F4F4F4;
	background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#DBDBDB));
	background: -moz-linear-gradient(top, #F4F4F4,  #DBDBDB);
	-webkit-box-shadow: 0 2px 4px -2px #000000;
	 -moz-box-shadow: 0 2px 4px -2px #000000;
	 box-shadow: 0 2px 4px -2px #000000;
}

.about_image_privacy:hover {
	-webkit-box-shadow: 2px 2px 2px #D0D0D0;
	 -moz-box-shadow: 2px 2px 2px #D0D0D0;
	 box-shadow: 2px 2px 2px #D0D0D0;
}

.about_privacy {
	display:none;
	float:left;
	margin:60px 0px 0px 200px;
	padding:0px 0px 20px 20px;
	color:DimGray;
	font-weight:bold;
	text-align:left;
	width:600px;
	padding:10px;
}

.about_privacy p {
		font-size:22px;
}

.about_image_join {
	float:left;
	width:125px;
	height:125px;
	padding:10px;
	margin:20px 0px 0px 75px;
	border:1px solid #D0D0D0;
	background-color:#F4F4F4;
	background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#DBDBDB));
	background: -moz-linear-gradient(top, #F4F4F4,  #DBDBDB);
	-webkit-box-shadow: 0 2px 4px -2px #000000;
	 -moz-box-shadow: 0 2px 4px -2px #000000;
	 box-shadow: 0 2px 4px -2px #000000;
}


.about_image_join:hover {
	-webkit-box-shadow: 2px 2px 2px #D0D0D0;
	 -moz-box-shadow: 2px 2px 2px #D0D0D0;
	 box-shadow: 2px 2px 2px #D0D0D0;
}

.about_how_to {
	display:none;
	float:left;
	margin:60px 0px 0px 200px;
	padding:0px 0px 20px 20px;
	color:DimGray;
	font-weight:bold;
	text-align:left;
	width:600px;
	padding:10px;
}

.about_how_to p {
		font-size:22px;
}

.about_subscribe_box {
	float:left;
	margin:20px 0px 100px 230px;
	padding:0px 0px 0px 150px;
	width:430px;
	height:150px;
	background-color:#0047B2;
	background: -webkit-gradient(linear, left top, left bottom, from(#0047B2), to(#003380));
	background: -moz-linear-gradient(top, #0047B2,  #003380);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 4px -0px #000000;
	 -moz-box-shadow: 0 2px 4px -0px #000000;
	 box-shadow: 0 2px 4px -0px #000000;
	
}

.about_subscribe {
	float:left;
	margin:50px 0px 50px 0px;
	width:300px;
	height:70px;
	color:white;
}






