/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.user_container {
		display:block;
		width: 900px;
		margin: 0px auto;
}

.user_allbar_container {
	display:block;
	min-width: 800px;
	max-width: 880px;
	margin: 0px auto;
	width:expression(document.body.clientWidth < 782? "780px" : document.body.clientWidth > 1262? "1260px" : "auto");	
}

.user_all_bar {
		width:100%;
		clear:both;
		float:left;
		height:40px;
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
		background-color:#FCFCFC;
		-webkit-box-shadow: 0 4px 4px -4px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -4px #B8B8B8;
		            box-shadow: 0 4px 4px -4px #B8B8B8;
}

.user_header {
		float:left;
		width:100%;
		text-align:center;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:40px;
		margin:40px 0px 0px 0px;
}

.user_show_header {
	   float:left;
	   font-family:"Helvetica";
	   font-weight:bold;
	   font-size:20px;
	   margin:20px 0px 0px 0px;
	   letter-spacing: 1px;
}

.user_home_button {
	float:right;
	height:40px;
	width:90px;
	font-size:14px;
	font-family:"Helvetica";
	font-weight:bold;
	color:#595959;
	text-align:center;
	padding:0px 0px 0px 0px;
	background-color:#FCFCFC;
	border:1px solid #D0D0D0;	
}

.home_img_button {
	float:left;
	height:35px;
	width:35px;
	margin:0px 0px 0px 25px;	
}

.user_home_button:hover {
	background-color:#FCFCFC;
}

.user_home_menu {
	position:absolute;
	display:none;
	margin:35px 0px 0px 0px;
	width:90px;
	padding:10px 0px 10px 0px;
	border:1px solid #D0D0D0;
	background-color:#FCFCFC;
	font-weight:bold;
	color:DimGray;
}

.user_home_menu:hover {
	background-color:#FCFCFC;
	color:#333;
}


.topbar_edit_button {
	float:right;
	height:40px;
	width:91px;
	font-size:14px;
	font-family:"Helvetica";
	font-weight:bold;
	color:#595959;
	text-align:center;
	padding:0px 0px 0px 0px;
	background-color:#FCFCFC;
	border:1px solid #D0D0D0;	
}

.topbar_edit_img {
	float:left;
	height:35px;
	width:35px;
	margin:0px 0px 0px 25px;	
}

.topbar_edit_button:hover {
	background-color:#FCFCFC;
}

.user_edit_menu:hover {
	background-color:#FCFCFC;
	color:#333;
}

.user_edit_menu {
	position:absolute;
	display:none;
	margin:35px 0px 0px 0px;
	width:90px;
	padding:10px 0px 10px 0px;
	border:1px solid #D0D0D0;
	background-color:#FCFCFC;
	font-weight:bold;
	color:DimGray;
}

.topbar_signout_button {
	float:right;
	height:40px;
	width:91px;
	font-size:14px;
	font-family:"Helvetica";
	font-weight:bold;
	color:#595959;
	text-align:center;
	padding:0px 0px 0px 0px;
	background-color:#FCFCFC;
	border:1px solid #D0D0D0;
}

.topbar_signout_img {
	float:left;
	height:35px;
	width:35px;
	margin:0px 0px 0px 25px;
}

.topbar_signout_button:hover {
	background-color:#FCFCFC;
}

.signout_menu {
	position:absolute;
	display:none;
	margin:35px 0px 0px 0px;
	width:90px;
	padding:10px 0px 10px 0px;
	border:1px solid #D0D0D0;
	background-color:#FCFCFC;
	font-weight:bold;
	color:DimGray;
}

.signout_menu:hover {
	background-color:#FCFCFC;
	color:#333;
}

.user_show_match {
	float:left;
	width:500px;
	margin:20px 0px 0px 0px;
	border:1px solid #D0D0D0;
	background-color:#FDFDFD;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:20px 0px 0px 10px;
}

.user_show_match_none {
	float:left;
	width:500px;
	height:200px;
	margin:20px 20px 0px 0px;
	border:1px solid #D0D0D0;
	background-color:#FDFDFD;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:20px 0px 0px 10px;
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
	            box-shadow: 0 4px 4px -1px #B8B8B8;
}

.user_show_image {
		float:left;
		clear:left;
		width:225px;
		height:225px;
		border:1px solid #D0D0D0;
		background-color:WhiteSmoke;
		padding:10px;
		margin:20px 10px 10px 20px;	
}

.user_show_match_info {
		float:left;
		width:300px;
}

.user_show_pic {
		float:left;
		width:225px;
		font-family:"Helvetica";
		text-align:center;
		letter-spacing:-1px;
		margin:10px 0px 0px 0px;	
}

.user_no_pic {
		width:225px;
		height:225px;
}

.user_show_match_name {
		float:left;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:25px;
		color:#333;
		margin:10px 0px 0px 20px;
	  letter-spacing: 0px;
		width:200px;
		text-align:left;
}

.user_show_match_location {
	float:left;
	font-family:"Helvetica";
	font-weight:none;
	width:200px;
	font-size:14px;
	margin:5px 0px 0px 20px;
  letter-spacing: 0px;	
}

.user_show_match_no_pic {
		float:left;
		width:175px;
		height:175px;
		padding:5px;
		margin:5px;
		border:1px solid #D0D0D0;
}

.user_to_match_buttons {
		float:left;
		margin:20px 10px 10px 40px;
		width:250px;
		background-color:none;
}

.view_match_profile {
		float:left;
		font-family:"Helvetica";
		font-weight:bold;
		color:white;
		text-align:center;
		margin:0px 0px 0px 0px;
		width:75px;
		height:75px;
		border:1px solid #D0D0D0;
		background-color:#336CC1;
		background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
		background: -moz-linear-gradient(top, #336CC1,  #0047B2);
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.view_match_profile:hover {
	background-color: #0047B2;
	background: -webkit-gradient(linear, left top, left bottom, from(#0047B2), to(#003380));
	background: -moz-linear-gradient(top, #0047B2,  #003380);
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
	            box-shadow: 0 4px 4px -1px #B8B8B8;
	
}

.search_button {
	float:left;
	margin:10px;
	width:50px;
}

.user_msg_match {
		float:left;
		font-family:"Helvetica";
		font-weight:bold;
		color:white;
		text-align:center;
		margin:0px 0px 0px 0px;
		width:75px;
		height:75px;
		border:1px solid #D0D0D0;
		background-color:#336CC1;
		background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
		background: -moz-linear-gradient(top, #336CC1,  #0047B2);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.user_msg_match:hover {
		background-color: #0047B2;
		background: -webkit-gradient(linear, left top, left bottom, from(#0047B2), to(#003380));
		background: -moz-linear-gradient(top, #0047B2,  #003380);
		-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
		            box-shadow: 0 4px 4px -1px #B8B8B8;
}

.msg_button {
		float:left;
		margin:10px;
		width:50px;
}

.user_end_match {
		float:left;
		font-family:"Helvetica";
		font-weight:bold;
		color:white;
		text-align:center;
		margin:0px 0px 0px 0px;
		width:75px;
		height:75px;
		border:1px solid #D0D0D0;
		background-color: #FF0000;
		background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#CC0000));
		background: -moz-linear-gradient(top, #FF0000,  #CC0000);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.user_end_match:hover {
s
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
	            box-shadow: 0 4px 4px -1px #B8B8B8;
}

.end_button {
		float:left;
		margin:10px;
		width:50px;
}

.should_info_approve {
	float:left;
	color:DimGray;
	font-size:14px;
	font-weight:bold;
}

.info_approve_button {
		float:left;
		font-family:"Helvetica";
		font-weight:bold;
		color:white;
		text-align:center;
		margin:0px 0px 0px 0px;
		width:75px;
		height:75px;
		border:1px solid #D0D0D0;
		background-color: #FF0000;
		background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#CC0000));
		background: -moz-linear-gradient(top, #FF0000,  #CC0000);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;	
}

.user_show_match_reason {
	clear:left;
	float:left;
	width:480px;
	padding:5px;
	margin:0px 5px 0px 10px;
	font-family:"Helvetica";
	color:DimGray;
	font-size:12px;
	border:1px solid #D0D0D0;
	border-top:0px;
	background-color:#F8F8F8;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;	
	-webkit-box-shadow: 0 2px 2px -1px #B8B8B8;
	   -moz-box-shadow: 0 2px 2px -1px #B8B8B8;
	            box-shadow: 0 2px 4px -1px #B8B8B8;	
}

.view_match_profile_wide {
		float:left;
		font-family:"Helvetica";
		font-weight:bold;
		color:white;
		text-align:center;
		margin:0px 0px 0px 0px;
		width:225px;
		height:70px;
		border:1px solid #D0D0D0;
		background-color:#336CC1;
		background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
		background: -moz-linear-gradient(top, #336CC1,  #0047B2);
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.view_match_profile_wide:hover {
	background-color: #0047B2;
	background: -webkit-gradient(linear, left top, left bottom, from(#0047B2), to(#003380));
	background: -moz-linear-gradient(top, #0047B2,  #003380);
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
	            box-shadow: 0 4px 4px -1px #B8B8B8;
	
}

.search_button_wide {
	float:left;
	margin:10px 0px 0px 90px;
	width:50px;
}

.user_show_match_reason p {
	margin:5px 5px 5px 60px;
	font-size:14px;
}

.user_show_reason_img {
	float:left;
	width:50px;
	height:50px;
	border:1px solid #D0D0D0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;		
}

.user_show_match_bar {
		float:left;
		width:200px;
		height:220px;
		margin:10px 10px 0px 6px;
		border:1px solid #D0D0D0;
		background-color:#FDFDFD;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		padding:5px 20px 5px 20px;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.user_show_match_bar:hover {
		-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
		            box-shadow: 0 4px 4px -1px #B8B8B8;
}

.user_matchmaker_pic {
		float:left;
		width:150px;
		height:150px;
		border:1px solid #D0D0D0;
		padding:5px;
		margin:10px 10px 0px 20px;
}

.user_questions_pic {
		float:left;
		width:150px;
		height:150px;
		border:1px solid #D0D0D0;
		padding:5px;
		margin:10px 10px 0px 20px;		
}

.user_matchmaker_title {
		float:left;
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
		font-family:"Helvetica";
		color:#333;
		width:200px;
		text-align:center;
}

.user_matchmaker_title_bold {
	float:left;
	margin:0px 0px 0px 0px;
	padding:5px 0px 0px 0px;
	font-family:"Helvetica";
	color:#333;
	width:200px;
	text-align:center;
	font-weight:bold;
}

.user_account_notif {
	float:left;
	width:200px;
	height:220px;
	margin:10px 0px 0px 10px;
	border:1px solid #D0D0D0;
	background-color:#FDFDFD;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:5px 20px 5px 20px;
	-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
	            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.user_account_notif:hover {
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
	            box-shadow: 0 4px 4px -1px #B8B8B8;
}

.user_account_notif img {
	float:left;
	width:150px;
	height:128px;
	border:1px solid none;
	padding:5px;
	margin:10px 10px 20px 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color:#FFD1D1;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFD1D1), to(#FFD6D6));
    background: -moz-linear-gradient(top, #FFD1D1,  #FFD6D6);		
}

.user_account_notif_question {
	float:left;
	width:150px;
	height:128px;
	border:1px solid none;
	padding:5px;
	font-size:120px;
	font-weight:bold;
	text-align:center;
	color:#E68A8A;
	margin:10px 10px 20px 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.user_account_header {
		font-family:"Helvetica";
		font-size:14px;
		letter-spacing:0px;
		color:#333;
		margin:5px 0px 0px 0px;
}

.message_mm_button {
		float:right;
		margin:0px 0px 0px 0px;
		height:40px;
		width:100px;
		border-left:1px solid DimGray;
		border-top:1px solid DimGray;
		border-right:1px solid DimGray;						
		background-color: #9A9A9A;
		background: -webkit-gradient(linear, left top, left bottom, from(#9A9A9A), to(#727272));
		background: -moz-linear-gradient(top, #9A9A9A,  #727272);
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
}

.message_mm_button:hover {
		border-left:1px solid #333;
		border-top:1px solid #333;
		border-right:1px solid #333;
		background-color: #727272;
		background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#494949));
		background: -moz-linear-gradient(top, #727272,  #494949);
}

.message_mm_logo {
		float:left;
		margin:25px 0px 0px 35px;
}


.user_home_list {
	clear:left;
	float:left;
	margin:50px 0px 0px 20px;
	width:250px;
	list-style-type:none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color:#FDFDFD;
	font-family:"Helvetica Neue";
	font-size:14px;
	color:#297ACC;
	font-weight:bold;
	-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
	            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.user_home_list li {
	border:1px solid #D0D0D0;
	height:25px;
	padding:10px;
}

.user_home_list li:hover {
		background-color:#FAFAFA;
}

.user_home_list_round {
		-moz-border-radius: 10px 10px 0px 0px;
		-webkit-border-radius: 10px 10px 0px 0px;
		border-radius: 10px 10px 0px 0px;
}

.user_home_list_round_down {
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}

.no_match_made {
	font-family:"Helvetica";
	font-weight:bold;
	font-size:35px;
}

.no_match_description {
	text-align:center;
}

.no_match_answer_button {
	float:left;
	width:75px;
	height:75px;
	border:1px solid none;
	margin:10px 0px 0px 210px;
}

.no_match_answer_button img {
	width:75px;
	height:75px;
}

.no_match_answer_button img:hover {
	border:1px solid #D0D0D0;
}
														
														/* User Sign Up Log In Stuff */

.user_signup_box {
		float:left;
		width:600px;
		margin:30px 0px 50px 200px;
}

.user_signup {
		float:left;
		width:100%;
		font-family:"Helvetica";
		font-weight:bold;
		margin:10px 0px 0px 5px;
}

.user_signup_field {
		float:left;
		width:100%;
		height:30px;
		margin:10px 0px 10px 0px;
		font-size:16px;
		color:DimGray;
		font-family:"Helvetica";
}

.user_signup_textarea {
		float:left;
		width:100%;
		height:200px;
		margin:10px 0px 10px 0px;
		font-size:16px;
		color:DimGray;
		font-family:"Helvetica";
}

#user_gender {
		float:left;
		margin:10px 0px 0px 0px;
		clear:both;
		width:100%;
		height:40px;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:18px;
		border:1px solid DimGray;
		background-color:WhiteSmoke;
}


.user_create {
		clear:left;
		float:left;
		width:100px;
		height:60px;
		border:1px solid #D0D0D0;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:14px;
		margin:10px 0px 0px 0px;
		color:White;
		background-color:#336CC1;
		background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
		background: -moz-linear-gradient(top, #336CC1,  #0047B2);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;		
}

.user_create:hover {
		border:1px solid DimGray;
		background-color: #0047B2;
		background: -webkit-gradient(linear, left top, left bottom, from(#0047B2), to(#003380));
		background: -moz-linear-gradient(top, #0047B2,  #003380);
}

.user_create_bigger {
		clear:left;
		float:left;
		width:100%;
		height:60px;
		border:1px solid #D0D0D0;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:16px;
		margin:10px 0px 0px 0px;
		color:White;
		background-color:#336CC1;
		background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
		background: -moz-linear-gradient(top, #336CC1,  #0047B2);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;		
}

.user_create_bigger:hover {
		border:1px solid DimGray;
		background-color: #0047B2;
		background: -webkit-gradient(linear, left top, left bottom, from(#0047B2), to(#003380));
		background: -moz-linear-gradient(top, #0047B2,  #003380);
}

.login_to_home {
		clear:left;
		float:left;
		width:100px;
		height:30px;
		border:1px solid WhiteSmoke;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:14px;
		padding:10px 0px 0px 0px;
		margin:5px 0px 0px 0px;
		color:White;
		text-align:center;
		background-color:#FF8484;
		background: -webkit-gradient(linear, left top, left bottom, from(#FF8484), to(#FF5050));
		background: -moz-linear-gradient(top, #FF8484,  #FF5050);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;		
}

.login_to_home:hover {
		border:1px solid #D0D0D0;
		background-color:#FF5050;
		background: -webkit-gradient(linear, left top, left bottom, from(#FF5050), to(#CC4040));
		background: -moz-linear-gradient(top, #FF5050,  #CC4040);
}

.forgot_password {
		float:right;
		width:200px;
		border:1px solid #D0D0D0;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:14px;
		padding:20px 10px 20px 10px;
		margin: 0px 0px 0px 20px;
		color:#333;
		text-align:center;
		background-color:#FCFCFC;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;		
}

.forgot_password:hover {
		border:1px solid dimgray;
}


.error_messages {
	float:left;
	width:100%;
	font-family:"Helvetica";
}

.error_count {
		float:left;
		width:100%;
		font-weight:bold;
		background-color:#FF8080;
		border:1px solid #f00;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding:10px;
}

.error_msg {
		float:left;
		list-style:none;
		margin:10px 0px 0px 10px;
		color:#f00;
}

.signup_rules {
		float:left;
		margin:10px 0px 0px 0px;
		border:1px solid DimGray;
		font-family:"Helvetica";
		font-size:12px;
		padding:5px;
}

.signup_rules h1 {
		text-align:left;
		font-size:20px;
		margin:0px;
}

																		/* Change Profile Pic */

.user_pics_header {
		width:100%;
		float:left;
		text-align:center;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:40px;
		margin:30px 0px 0px 0px;
}

.go_to_matchmaker {
		clear:left;
		float:left;
		width:200px;
		padding:10px 20px 10px 20px;
		margin:10px 0px 20px 200px;
		border:1px solid #D0D0D0;
		background-color:#FF8484;
		background: -webkit-gradient(linear, left top, left bottom, from(#FF8484), to(#FF5050));
		background: -moz-linear-gradient(top, #FF8484,  #FF5050);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;	
		text-align:center;	
		font-weight:bold;
		font-family:"Helvetica";
		color:White;		
}

.go_to_matchmaker:hover {		
		background-color:#FF5050;
		background: -webkit-gradient(linear, left top, left bottom, from(#FF5050), to(#CC4040));
		background: -moz-linear-gradient(top, #FF5050,  #CC4040);

}


					/* USER PROFILE SPOUSE */

.profile_spouse_box {
		float:left;
		width:900px;
		padding:10px;
		margin:30px 0px 0px 20px;
		border:1px solid #D0D0D0;
		background-color:#F6F6F6;
		font-family:"Helvetica";		
		color:DimGray;
		font-size:14px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
  		-moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		box-shadow: 0 4px 4px -2px #B8B8B8;
}


.list_of_mquest_answers {
	text-align:left
}

.profile_mquest_header {
	clear:both;
	float:left;
	width:900px;
	color:#333;
}

.cropbox {
	float:left;
}


.croppingbox {
	float:left;
	margin:10px 0px 0px 200px;
	width:500px;
}

.crop_preview {
	float:left;
	font-family:"Helvetica";
	font-size:16px;
	color:DimGray;
	font-weight:bold;
	margin:10px 0px 0px 0px;		
}

.crop_button_submit {
		float:left;
		width:500px;
		height:60px;
		border:1px solid #D0D0D0;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:14px;
		margin:20px 0px 0px 0px;
		color:White;
		background-color:#336CC1;
		background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
		background: -moz-linear-gradient(top, #336CC1,  #0047B2);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;		
}

.crop_button_submit:hover {
		border:1px solid DimGray;
		background-color: #0047B2;
		background: -webkit-gradient(linear, left top, left bottom, from(#0047B2), to(#003380));
		background: -moz-linear-gradient(top, #0047B2,  #003380);
}

.moneybags {
	float:left;
	width:40px;
	height:40px;
	text-align:left;
}

.pay_now_text {
	margin:10px 0px 0px 0px;
	width:150px;
	font-size:18px;
}

.pay_now_button {
	float:left;
	padding:10px 50px 10px 50px;
	margin:30px 100px 0px 120px;
	border:1px solid #D0D0D0;
	font-family:"Helvetica";
	font-size:14px;
	text-align:center;
	font-weight:bold;
	color:#0047B2;
	background-color:#EBEBEB;
	background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#CFCFCF));
	background: -moz-linear-gradient(top, #EBEBEB,  #CFCFCF);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
				box-shadow: 0 4px 4px -2px #B8B8B8;	
}

.pay_now_button:hover {
	background-color:#E7E7E7;
	background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#BABABA));
	background: -moz-linear-gradient(top, #E7E7E7,  #BABABA);
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
				box-shadow: 0 4px 4px -1px #B8B8B8;	
}

#user_permission {
		float:left;
		margin:10px 0px 5px 0px;
		width:500px;
		height:40px;
		-webkit-appearance: button;
	  -webkit-border-radius: 2px;
	  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	  -webkit-padding-end: 20px;
	  -webkit-padding-start: 2px;
	  -webkit-user-select: none;
	  background-image: url(arrow2.png);
	    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	  background-position: center right;
	  background-repeat: no-repeat;
	  border: 1px solid #AAA;
	  color: #555;
	  font-size: inherit;
	  overflow: hidden;
	  padding-top: 2px;
	  padding-bottom: 2px;
	  text-overflow: ellipsis;
	  white-space: nowrap;
}

.waiting_match {
	text-align:center;
	font-family:"Helvetica";
	color:DimGray;
	font-weight:bold;
	margin:25px 0px 0px 0px;
}

 			/* PICK MATCHMAKER */

.pick_mm_box {
	float:left;
	font-family:"Helvetica";
	color:DimGray;
	width:1000px;
}

.pick_mm_header {
	margin:20px 0px 0px 0px;
}

.pick_mm_name {
	float:left;
}

.user_pick_each_admin {
	float:left;
	border:1px solid #D0D0D0;
	width:860px;
	height:75px;
	padding:10px;
	margin:10px 0px 0px 0px;
	background-color:WhiteSmoke;
}

.user_pick_mm_img_div {
	float:right;
	margin:0px;
}

.user_pick_mm_img {
	width:75px;
	height:75px;
	border:1px solid #D0D0D0;
	margin:0px;
}

.pick_mm_bio {
	clear:left;
	float:left;
	width:600px;
	padding:0px;
	margin:0px 0px 0px 0px;
}

.user_pick_button {
		float:left;
		width:100px;
		height:98px;
		border:1px solid #D0D0D0;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:14px;
		margin:10px 0px 0px 0px;
		color:White;
		background-color:#336CC1;
		background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
		background: -moz-linear-gradient(top, #336CC1,  #0047B2);
		-moz-border-radius: 0px 5px 5px 0px;
		-webkit-border-radius: 0px 5px 5px 0px;
		border-radius: 0px 5px 5px 0px;
}

.user_pick_button:hover {
		border:1px solid DimGray;
		background-color: #0047B2;
		background: -webkit-gradient(linear, left top, left bottom, from(#0047B2), to(#003380));
		background: -moz-linear-gradient(top, #0047B2,  #003380);
}



/* USER PROFILE PAGE */


.user_profile_mm {
		float:left;
		width:200px;
		height:80px;
		margin:20px 0px 0px 355px;
		border:1px solid #D0D0D0;
		background-color:#FDFDFD;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		padding:5px 20px 5px 20px;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.user_profile_mm:hover {
		-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
		            box-shadow: 0 4px 4px -1px #B8B8B8;
}