/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.user_container {
		display:block;
		width: 900px;
		margin: 0px auto;
}

.user_all_bar {
		width:100%;
		clear:both;
		float:left;
		height:40px;
		margin:0px 0px 0px 0px;
		background-color:#333333;
		background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#292929));
		background: -moz-linear-gradient(top, #333333,  #292929);
		text-shadow: 0px 0px 0px, -1px -1px #000;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.user_header {
		width:100%;
		text-align:center;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:40px;
		margin:40px 0px 0px 0px;
}

.user_show_header {
		float:left;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:20px;
		margin:20px 0px 0px 0px;
	  letter-spacing: 1px;
}

.user_home_button {
		float:right;
		height:30px;
		font-size:14px;
		font-family:"Helvetica";
		font-weight:bold;
		color:WhiteSmoke;
		text-align:center;
		padding:10px 30px 0px 20px;
		background-color:#313131;
		background: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#272727));
		background: -moz-linear-gradient(top, #313131,  #272727);
}

.user_home_button:hover {
	background-color:#464646;
	background: -webkit-gradient(linear, left top, left bottom, from(#464646), to(#464646));
	background: -moz-linear-gradient(top, #464646,  #464646);
}

.user_show {
	clear:left;
	float:left;
	width:100%;
	margin:20px 0px 0px 0px;
}

.user_show_match_made {
		float:left;
		clear:both;
		width:860px;
		height:230px;
		padding:10px;
		background-color:#FDFDFD;
		border:1px solid #D0D0D0;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		
}

.user_show_match {
	float:right;
	width:500px;
	height:210px;
	margin:0px 0px 0px 110px;
	border:1px solid #D0D0D0;
	background-color:WhiteSmoke;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:20px 0px 0px 10px;
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
	            box-shadow: 0 4px 4px -1px #B8B8B8;
}

.user_show_image {
		float:left;
		clear:left;
		width:175px;
		height:175px;
		border:1px solid #D0D0D0;
		background-color:WhiteSmoke;
		padding:10px;
		margin:10px;
}

.user_show_match_info {
		float:left;
		width:300px;
}

.user_show_pic {
		float:left;
		width:175px;
		font-family:"Helvetica";
		text-align:center;
		letter-spacing:-1px;
		margin:10px 0px 0px 0px;	
}

.user_no_pic {
		width:175px;
		height:175px;
}

.user_show_match_name {
		float:left;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:25px;
		color:#333;
		margin:10px 0px 0px 20px;
	  letter-spacing: 0px;
		width:200px;
		text-align:left;
}

.user_show_match_location {
	float:left;
	font-family:"Helvetica";
	font-weight:none;
	width:200px;
	font-size:14px;
	margin:5px 0px 0px 20px;
  letter-spacing: 0px;	
}

.user_show_match_no_pic {
		float:left;
		width:175px;
		height:175px;
		padding:5px;
		margin:5px;
		border:1px solid #D0D0D0;
}

.user_to_match_buttons {
		float:left;
		margin:20px 10px 10px 40px;
		width:250px;
}

.view_match_profile {
		float:left;
		font-family:"Helvetica";
		font-weight:bold;
		color:white;
		text-align:center;
		margin:0px 0px 0px 0px;
		width:75px;
		height:75px;
		border:1px solid #D0D0D0;
		background-color:#336CC1;
		background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
		background: -moz-linear-gradient(top, #336CC1,  #0047B2);
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.view_match_profile:hover {
	background-color: #0047B2;
	background: -webkit-gradient(linear, left top, left bottom, from(#0047B2), to(#003380));
	background: -moz-linear-gradient(top, #0047B2,  #003380);
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
	            box-shadow: 0 4px 4px -1px #B8B8B8;
	
}

.search_button {
	float:left;
	margin:10px;
	width:50px;
}

.user_msg_match {
		float:left;
		font-family:"Helvetica";
		font-weight:bold;
		color:white;
		text-align:center;
		margin:0px 0px 0px 0px;
		width:75px;
		height:75px;
		border:1px solid #D0D0D0;
		background-color:#336CC1;
		background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
		background: -moz-linear-gradient(top, #336CC1,  #0047B2);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.user_msg_match:hover {
		background-color: #0047B2;
		background: -webkit-gradient(linear, left top, left bottom, from(#0047B2), to(#003380));
		background: -moz-linear-gradient(top, #0047B2,  #003380);
		-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
		            box-shadow: 0 4px 4px -1px #B8B8B8;
}

.msg_button {
		float:left;
		margin:10px;
		width:50px;
}

.user_end_match {
		float:left;
		font-family:"Helvetica";
		font-weight:bold;
		color:white;
		text-align:center;
		margin:0px 0px 0px 0px;
		width:75px;
		height:75px;
		border:1px solid #D0D0D0;
		background-color: #FF0000;
		background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#CC0000));
		background: -moz-linear-gradient(top, #FF0000,  #CC0000);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.user_end_match:hover {
	background-color:#CC0000;
	background: -webkit-gradient(linear, left top, left bottom, from(#CC0000), to(#990000));
	background: -moz-linear-gradient(top, #CC0000,  #990000);
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
	            box-shadow: 0 4px 4px -1px #B8B8B8;
}

.end_button {
		float:left;
		margin:10px;
		width:50px;
}

.user_show_match_bar {
		float:left;
		width:200px;
		height:220px;
		margin:5px 10px 0px 100px;
		border:1px solid #D0D0D0;
		background-color:#FDFDFD;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		padding:5px;
		-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
		            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.user_show_match_bar:hover {
		-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
		   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
		            box-shadow: 0 4px 4px -1px #B8B8B8;
}

.user_matchmaker_pic {
		float:left;
		width:150px;
		height:150px;
		border:1px solid #D0D0D0;
		padding:5px;
		margin:10px 10px 0px 20px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
}

.user_matchmaker_title {
		float:left;
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
		font-family:"Helvetica";
		color:#333;
		width:200px;
		text-align:center;
}

.user_matchmaker_title_bold {
	float:left;
	margin:0px 0px 0px 0px;
	padding:5px 0px 0px 0px;
	font-family:"Helvetica";
	color:#333;
	width:200px;
	text-align:center;
	font-weight:bold;
}

.message_mm_button {
		float:right;
		margin:0px 0px 0px 0px;
		height:40px;
		width:100px;
		border-left:1px solid DimGray;
		border-top:1px solid DimGray;
		border-right:1px solid DimGray;						
		background-color: #9A9A9A;
		background: -webkit-gradient(linear, left top, left bottom, from(#9A9A9A), to(#727272));
		background: -moz-linear-gradient(top, #9A9A9A,  #727272);
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
}

.message_mm_button:hover {
		border-left:1px solid #333;
		border-top:1px solid #333;
		border-right:1px solid #333;
		background-color: #727272;
		background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#494949));
		background: -moz-linear-gradient(top, #727272,  #494949);
}

.message_mm_logo {
		float:left;
		margin:25px 0px 0px 35px;
}


.user_home_list {
	float:left;
	margin:30px 0px 0px 20px;
	width:300px;
	list-style-type:none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color:WhiteSmoke;
	font-family:"Helvetica Neue";
	font-size:14px;
	color:#297ACC;
	font-weight:bold;
	-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
	            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.user_home_list li {
	border:1px solid #D0D0D0;
	height:25px;
	padding:10px;
}

.user_home_list li:hover {
		background-color:#FAFAFA;
}

.user_home_list_round {
		-moz-border-radius: 10px 10px 0px 0px;
		-webkit-border-radius: 10px 10px 0px 0px;
		border-radius: 10px 10px 0px 0px;
}

.user_home_list_round_down {
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}

.user_account_notif {
	float:left;
	width:200px;
	height:220px;
	margin:5px 10px 0px 0px;
	border:1px solid #D0D0D0;
	background-color:#FDFDFD;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:5px;
	-webkit-box-shadow: 0 4px 4px -2px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -2px #B8B8B8;
	            box-shadow: 0 4px 4px -2px #B8B8B8;
}

.user_account_notif:hover {
	-webkit-box-shadow: 0 4px 4px -1px #B8B8B8;
	   -moz-box-shadow: 0 4px 4px -1px #B8B8B8;
	            box-shadow: 0 4px 4px -1px #B8B8B8;
}

.user_account_notif img {
	float:left;
	width:150px;
	height:128px;
	border:1px solid none;
	padding:5px;
	margin:10px 10px 20px 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.user_account_header {
		font-family:"Helvetica";
		font-size:14px;
		letter-spacing:0px;
		color:#333;
		margin:5px 0px 0px 0px;
}

																										/* User Sign Up Log In Stuff */

.user_signup_box {
		float:left;
		width:600px;
		height:1000px;
		margin:30px 0px 0px 200px;
}

.user_signup {
		float:left;
		width:100%;
		font-family:"Helvetica";
		font-weight:bold;
		margin:10px 0px 0px 5px;
}

.user_signup_field {
		float:left;
		width:100%;
		height:30px;
		margin:10px 0px 10px 0px;
		font-size:16px;
		color:DimGray;
		font-family:"Helvetica";
}

.user_signup_textarea {
		float:left;
		width:100%;
		height:200px;
		margin:10px 0px 10px 0px;
		font-size:16px;
		color:DimGray;
		font-family:"Helvetica";
}

#user_gender {
		float:left;
		margin:10px 0px 0px 0px;
		clear:both;
		width:100%;
		height:40px;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:18px;
		border:1px solid DimGray;
		background-color:WhiteSmoke;
}


.user_create {
		clear:left;
		float:left;
		width:100px;
		height:60px;
		border:1px solid #D0D0D0;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:14px;
		margin:10px 0px 0px 0px;
		color:White;
		background-color:#336CC1;
		background: -webkit-gradient(linear, left top, left bottom, from(#336CC1), to(#0047B2));
		background: -moz-linear-gradient(top, #336CC1,  #0047B2);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;		
}

.user_create:hover {
		border:1px solid DimGray;
		background-color: #0047B2;
		background: -webkit-gradient(linear, left top, left bottom, from(#0047B2), to(#003380));
		background: -moz-linear-gradient(top, #0047B2,  #003380);
}

.login_to_home {
		clear:left;
		float:left;
		width:100px;
		height:30px;
		border:1px solid WhiteSmoke;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:14px;
		padding:10px 0px 0px 0px;
		margin:5px 0px 0px 0px;
		color:White;
		text-align:center;
		background-color:#FF8484;
		background: -webkit-gradient(linear, left top, left bottom, from(#FF8484), to(#FF5050));
		background: -moz-linear-gradient(top, #FF8484,  #FF5050);
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;		
}

.login_to_home:hover {
		border:1px solid #D0D0D0;
		background-color:#FF5050;
		background: -webkit-gradient(linear, left top, left bottom, from(#FF5050), to(#CC4040));
		background: -moz-linear-gradient(top, #FF5050,  #CC4040);
}


.error_messages {
	float:left;
	width:100%;
	font-family:"Helvetica";
}

.error_count {
		float:left;
		width:100%;
		font-weight:bold;
		background-color:#FF8080;
		border:1px solid #f00;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		padding:10px;
}

.error_msg {
		float:left;
		list-style:none;
		margin:10px 0px 0px 10px;
		color:#f00;
}

.signup_rules {
		float:left;
		margin:10px 0px 0px 0px;
		border:1px solid DimGray;
		font-family:"Helvetica";
		font-size:12px;
		padding:5px;
}

.signup_rules h1 {
		text-align:left;
		font-size:20px;
		margin:0px;
}

																		/* Change Profile Pic */

.user_pics_header {
		width:100%;
		float:left;
		text-align:center;
		font-family:"Helvetica";
		font-weight:bold;
		font-size:40px;
		margin:30px 0px 0px 0px;
}


