<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
 	<%= render 'layouts/stylesheets' %>
	<%= render 'layouts/analytics' %>
</head>
<body>


<%= yield %>


</body>
</html>
