<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
 	<%= render 'layouts/stylesheets' %>
</head>
<body>

<% if @title == "Home" %>
<div class="background_home">
	<% else %>
<div class="background_all">
<% end %>
<%= yield %>
</div>

</body>
</html>
